h1{
    display: flex;
    justify-content: center;
align-content: center;
}
body{
    background-color: rgba(185, 170, 170, 0.933);
    
}
.stopwatchcontent{
    background-color: white;
    border: 5px solid;
    border-radius: 50px;
    
}
#stopwatchtimer{
display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;

}
#stopwatchbutton button{
   text-align: center;
   font-size: 1.5rem;
   padding: 10px 20px;
   margin: 5px;
   min-width: 125px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
color: white;
transition: background-color s ease
}
#stopwatchbutton{
    text-align: center;


}
#start{
    background-color: rgb(62, 230, 62);
   color: white;
}
#start:hover{
    background-color: green;
}
#stop{
    background-color:red;
   color: white;
}
#stop:hover{
    background-color: rgb(158, 24, 24);
}
#reset{
    background-color: rgb(62, 154, 230);
   color: white;
}
#reset:hover{
    background-color: rgb(0, 70, 128);
}